footer {
 background-color: #FAFAFA;
 width: 100%;
 min-height: 435px;

}
.footer-wrapper {
 max-width: 984px;
 width: 100%;
 margin: 0 auto;
}
.footer--items {
 display: flex;
 flex-direction: row;
 justify-content: center;
 flex-wrap: wrap;
}
.footer--item {
 width: 216px;
 min-height: 80px;
 margin: 85px 15px 0 15px;
 h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
  margin-bottom: 33px;
 }
 p {
  width: 174px;
  font-size: 12px;
  line-height: 18px;
  color: #101010;
 }
 ul {
  li {
   font-size: 12px;
   line-height: 19px;
   text-transform: capitalize;
   color: #000000;
   cursor: pointer;
  }
 }
}
.copyright {
 margin: 120px 15px 5px 15px;
 font-size: 12px;
 line-height: 14px;
 color: #101010;

}
.cap {
 font-size: 12px;
 margin-top: 150px;
}

