@import "reset";
@import "font";
@import "variables+mixins";
@import "carousel.css";

@import "header";
@import "overview";
@import "features";
@import "technology";
@import "app";
@import "contact";





html {
 font-family: $font--lato;
}
footer {
 background-color: olive;
}
